@import "tailwindcss";

@theme {
  --font-league-spartan: "League Spartan", sans-serif;
  --color-green-50: #effafa;
  --color-green-400: #5ca5a5;
  --color-green-600: #0d7182;
  --color-green-900: #2b3939;
  --color-gray-300: #979797;
  --color-gray-400: #7c8f8f;
}
